<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>Register User Data</title>

</head>
<body>


<div class="container">
    <h1>User Registration</h1>
    <br>
    <br>
    <hr>
    
    <form action="#" th:action="@{/users/register}" method="post" th:object="${user_data}">
        <div class="mb4">
        <span class="alert alert-danger" th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
		<br></br>
 		
 		<div class="mb4">
        <label class="form-label">E-mail:</label>
        <input type="text" class="form-control" th:field="*{email}" /><br/>
 		</div>
 		
 		<div class="mb4">
        <label class="form-label">Password:</label>
        <input type="password" class="form-control" th:field="*{password}" /><br/>
		</div>
		
		<div class="form-group">
		    <label>Select Plan:</label>
		    <div class="form-check">
		        <input class="form-check-input" type="radio" th:field="*{paidPlan}" id="freePlan" value="false" checked>
		        <label class="form-check-label" for="freePlan">Free Plan</label>
		    </div>
		    <div class="form-check">
		        <input class="form-check-input" type="radio" th:field="*{paidPlan}" id="premiumPlan" value="true">
		        <label class="form-check-label" for="premiumPlan">Premium Plan</label>
		    </div>
		</div>

        
        <br/>
 
        <button class="btn btn-primary" type="submit">Register</button>    
    
    
    </form>
</div>


</body>
</html>